[build-system]
requires = [
    "setuptools>=54",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = 'pulpo-dev'
version = '0.0.1'
dependencies = [
    "brightway2==2.4.3",
    "pyomo==6.6.1",
    "highspy==1.5.3",
    "ipython==8.14.0",
    "jupyterlab",
    "tqdm"
]